<div style="margin: 10px;">
	<h5>Каталог продуктов</h5>
	<p>&nbsp;</p>

    <div class="row g-2">
        <div class="col-6 col-md-2">
            <form novalidate ng-submit="loadProductsPage()">
                <div class="form-floating input-group-sm">
					<label for="filterMinPrice">Минимальная цена:</label>
					<input type="number" class="form-control" id="filterMinPrice" placeholder=""
                           ng-model="filter.min_price">
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
					<label for="filterMaxPrice">Максимальная цена:</label>
					<input type="number" class="form-control" id="filterMaxPrice" placeholder=""
                           ng-model="filter.max_price">
                </div>
                <p></p>
                <div class="form-floating input-group-sm">
					<label for="filterTitle">Часть названия:</label>
					<input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title">
                </div>
                <p>&nbsp;</p>
                <button class="btn btn-outline-primary btn-sm" type="submit"
                		style="width: 100%; margin-bottom: 5px;">Применить</button>
                <br>
                <button class="btn btn-outline-secondary btn-sm" type="reset" ng-click="resetFilters()"
                		style="width: 100%;">Сбросить</button>
            </form>
        </div>
        <div class="col-sm-6 col-md-10">

			<table class="table table-striped">
				<thead class="table-dark">
					<tr><th>id</th>
						<th>category</th>
						<th>title</th>
						<th>price</th>
						<th>rest</th>
						<th>measure</th>
						<th>more actions</th>
						<th>add to cart</th><!--  ng-show="canShow()" !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
					</tr>
				</thead>
				<!-- ng-show  работает и на таком уровне, если не забыть добавить $rootScope в js-файл. -->
				<tr ng-repeat="p in productsPage.content">
					<td>{{p.productId}}</td>
					<td>{{p.category}}</td>
					<th scope="row"><a href="#!/product_page/{{p.productId}}">{{p.title}}</a></th>
					<td>{{p.price}}</td>
					<td>{{p.rest}}</td>
					<td>{{p.measure}}</td>
					<td>
						<button class="btn btn-info" style="font-family: Webdings;"
							title="Посмотреть информацию о продукте."
							ng-click="productInfo(p)">s</button>
						&nbsp;
						<button class="btn btn-success" style="font-family: Webdings;"
							title="Редактировать продукт."
							ng-click="startEditProduct(p.productId)" ng-show="canShow()">a</button>
						&nbsp;
						<button class="btn btn-warning" style="font-family: Webdings;"
							title="Удалить продукт."
							ng-click="deleteProduct(p.productId)" ng-show="canShow()">r</button>
					</td>
					<!-- sar 📝 ✂ ✖🗙❌⚙ℹ style="font-family: Webdings;"   -->
					<td><!--  ng-show="canShow()" !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
						<button class="btn btn-primary"
							title="Убрать продукт из корзины." style="width: 30pt"
							ng-click="cartMinus(p.productId)">-</button>
						&nbsp;
						<button class="btn btn-primary"
							title="Добавить продукт в корзину." style="width: 30pt"
							ng-click="cartPlus(p.productId)">+</button>
					</td>
				</tr>
				<caption>
					Всего товаров: {{productsPage.totalElements}}&nbsp;&nbsp;•&nbsp;&nbsp;
					Элементов на странице макс.: {{productsPage.pageable.pageSize}}&nbsp;&nbsp;•&nbsp;&nbsp;
					Страница: {{productsPage.pageable.pageNumber +1}}/{{productsPage.totalPages}}
				</caption>
			</table>

			<p><!--  ng-show="canShow()" !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
					Товаров в корзине: {{cartLoad}}
			</p>

			<nav aria-label="Page navigation">
				<ul class="pagination">

					<li class="page-item" style="padding-right: 3px;">
						<button class="page-link" ng-click="prevProductsPage()">&lt;</button>
					</li>
					<li class="page-item" ng-repeat="pageIndex in paginationArray" style="padding-right: 3px;">
						<button class="page-link" ng-click="loadProductsPage(pageIndex)">{{pageIndex}}</button>
					</li>
					<li class="page-item" style="padding-right: 3px;">
						<button class="page-link" ng-click="nextProductsPage()">&gt;</button>
					</li>

				</ul>
			</nav>

		</div>
	</div>
</div>