<div style="margin: 10px;">
	<h5>{{contextPrompt}}</h5>
	<p>&nbsp;</p>

	<div class="almost_windows">
		<table class="table table-info table-striped" ng-show="canShowOrderedItems()"><!-- table-bordered table-striped -->
			<thead class="table-dark">
				<tr>
					<th>id</th>				<!-- 0 -->
					<th>category</th>		<!-- 1 -->
					<th>title</th>			<!-- 2 -->
					<th>price</th>			<!-- 3 -->
					<th>quantity cost</th>	<!-- 5 -->
					<th>quantity</th>		<!-- 4 -->
					<th>more actions</th>	<!-- 6 -->
				</tr>
			</thead>
			<tr ng-repeat="oitem in cart.oitems">
				<td>{{oitem.productId}}</td>				<!-- 0 -->
				<td>{{oitem.category}}</td>					<!-- 1 -->
				<th scope="row">{{oitem.title}}</td>		<!-- 2 -->
				<td>{{oitem.price}}</td>					<!-- 3 -->
				<td>{{oitem.cost}}</td>						<!-- 5 -->
				<td>{{oitem.quantity}}</td>					<!-- 4 -->
				<td><button class="btn btn-info" ng-click="infoProduct(oitem)" title="Посмотреть информацию о товаре."
							style="font-family: Webdings;">s</button>
				</td>										<!-- 6 -->
			</tr>
			<tfoot class="table-primary"><td></td>							<!-- 0 -->
				<td></td>			 					<!-- 1 -->
				<td></td>								<!-- 2 -->
				<td></td>								<!-- 3 -->
				<td>Общая стоимость: {{cart.cost}}</td>	<!-- 5 -->
				<td>Всего товаров: {{cart.load}}</td>	<!-- 4 -->
				<td></td>								<!-- 6 -->
			</tfoot>
<!--			<caption>
				Страница: {{productsPage.pageable.pageNumber +1}}&lt;!&ndash;/{{productsPage.totalPages}}<br>
				Всего товаров: {{cart.load}}.<br>
				Общая стоимость: {{cart.cost}}.&ndash;&gt;
			</caption>-->
		</table>
	</div>

	<p>&nbsp;</p>
	<div ng-show="showForm">
		<p>	Для завершения заказа пожалуйста заполните расположенную ниже форму и нажмите кнопку <b>«Подтвердить»</b>.
			Обратите внимание, что поле ввода <b>«Телефон»</b> нужно обязательно заполнить.
		</p>
		<p>	Чтобы отменить заказ сейчас, нажмите кнопку <b>«Отмена»</b>. В случае отмены заказа, Вы будете перемещены на страницу вашей Корзины.
		</p>
	</div>
	<div ng-show="!showForm">
		<p>	Оформление заказа успешно завершено. Информация о сделанном вами заказе приведена ниже. Наш менеждер
			свяжется с вами в ближайшее время для обсуждения деталей этого заказа. Во время разговора с ним Вы сможете
			высказать свои пожелания к обработке заказа и, при желании, внести изменения в заказ.
		</p>
		<p>	Вы можете оплатить этот заказ прямо сейчас, если не планируете изменить его. Для оплаты этого заказа
			нажмите кнопку <b>«Оплатить сейчас»</b>.
		</p>
		<p ng-show="!showForm">
			<dl class="row">
				<dt class="col-sm-3">Номер вашего заказа:</dt>
				<dd class="col-sm-9"><b>{{orderDetails.orderNumber}}</b>.</dd>

				<dt class="col-sm-3">Время создания заказа:</dt>
				<dd class="col-sm-9">{{orderDetails.orderCreationTime}}.</dd>

				<dt class="col-sm-3">Статус заказа:</dt>
				<dd class="col-sm-9">{{orderDetails.orderState}}.</dd>

				<dt class="col-sm-3">Номер телефона:</dt>
				<dd class="col-sm-9">{{orderDetails.shippingInfoDto.phone}}.</dd>

				<dt class="col-sm-3">Адрес доставки:</dt>
				<dd class="col-sm-9">{{orderDetails.shippingInfoDto.countryCode}}, {{orderDetails.shippingInfoDto.postalCode}}, {{orderDetails.shippingInfoDto.region}}, {{orderDetails.shippingInfoDto.townVillage}}, {{orderDetails.shippingInfoDto.streetHouse}}, {{orderDetails.shippingInfoDto.apartment}}.</dd>

				<dt class="col-sm-3">Сумма к оплате:</dt>
				<dd class="col-sm-9"><b>{{orderDetails.cartDto.cost}}</b>.</dd>
			</dl>
		</p>
	</div>

	<form novalidate ng-submit="confirmOrder()" ng-show="showForm">

		<div class="container" style="font-size: 14pt; font-weight:500;">
			<!-- Число в col-N означает относительную ширину колонки. Если общее кол-во колонок всех элементов
			превышает 12, то элементы, занимающие лишние колонки, переносятся на след.строку. В данном примере
			общее кол-во колонок: 1+11 = 12, что заставляет ряд занимать всю доступную ему ширину. Если общее
			кол-во колонок не равно 12, то имеет смысл указать в class="row" тип выравнивания.  -->
			<div class="row g-2">
				<div class="col-2">
					<label for="phone" class="col-form-lable">Телефон:&nbsp;</label>
				</div>
				<div class="col-5">
					<input	id="phone"
							class="form-control"
							type="text"
							placeholder="—"
							required="required"
							ng-model="orderDetails.shippingInfoDto.phone">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="country_code" class="col-form-lable">Код страны:&nbsp;</label>
				</div>
				<div class="col-2">
					<input	id="country_code"
							class="form-control"
							type="text"
							value="{{orderDetails.shippingInfoDto.countryCode}}"
							required="required"
							readonly
							maxlength="2" minlength="2"
							ng-model="orderDetails.shippingInfoDto.countryCode">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="postal_code" class="col-form-lable">Почтовый индекс (обязательно заполните это поле):</label>
				</div>
				<div class="col-3">
					<input	id="postal_code"
							class="form-control"
							type="number"
							placeholder="6 цифр"
							maxlength="6" minlength="6"
							ng-model="orderDetails.shippingInfoDto.postalCode">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="region" class="col-form-lable">Регион (<a href="https://ru.wikipedia.org/wiki/ISO_3166-2:RU" target="_blank">субъекты РФ</a>):</label>
				</div>
				<div class="col-10">
					<input	id="region"
							class="form-control"
							type="text"
							placeholder="(субъект федерации)"
							ng-model="orderDetails.shippingInfoDto.region">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="town_village" class="col-form-lable">Населённый пункт:</label>
				</div>
				<div class="col-10">
					<input	id="town_village"
							class="form-control"
							type="text"
							placeholder="—"
							ng-model="orderDetails.shippingInfoDto.townVillage">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="street_house" class="col-form-lable">Улица и номер дома:</label>
				</div>
				<div class="col-10">
					<input	id="street_house"
							class="form-control"
							type="text"
							placeholder="—"
							ng-model="orderDetails.shippingInfoDto.streetHouse">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="apartment" class="col-form-lable">Номер квартиры:</label>
				</div>
				<div class="col-2">
					<input	id="apartment"
							class="form-control"
							type="text"
							placeholder="—"
							ng-model="orderDetails.shippingInfoDto.apartment">
				</div>
			</div>
		</div>
		<p></p>
		<button type="submit" class="btn btn-primary" ng-show="canShowConfirmationButton()">Подтвердить</button>
		&nbsp;
		<button type="reset" class="btn btn-secondary" ng-click="cancelOrdering()">Отмена</button>
	</form>

	<p>&nbsp;</p>
 	<button class="btn btn-primary" ng-click="ok()" ng-show="!showForm" title="Обратно в магазин.">
		Готово
	</button>
 	<button class="btn btn-success" ng-click="renderPaymentButtons()" ng-show="canPay" title="Перейти к оплате заказа.">
		Оплатить сейчас
	</button>
	<br>
	<br>
	<div id="paypal-buttons"></div>
</div>
