<div style="margin: 10px;">
	<h5>{{contextPrompt}}</h5>
	<p>&nbsp;</p>

	<form novalidate ng-submit="createOrUpdateProduct()"><!--  ng-reset="resetProductForm()" -->

		<div class="container" style="font-size: 14pt; font-weight:500;">
			<div class="row">
				<!-- Число в col-N означает относительную ширину колонки. Если общее кол-во колонок всех элементов превышает 12, то элементы, занимающие лишние колонки, переносятся на след.строку. В данном примере общее кол-во колонок: 1+11 = 12, что заставляет ряд занимать всю доступную ему ширину. Если общее кол-во колонок не равно 12, то имеет смысл указать в class="row" тип выравнивания.  -->
				<div class="col-2">
					<label for="pid" class="col-form-lable">id:</label>
				</div>
				<div class="col-10">
					<input	id="pid"
							class="form-control"
							type="number"
							readonly
							ng-model="new_product.productId">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="cnm" class="col-form-lable">category:&nbsp;</label>
				</div>
				<div class="col-10"><!--  form-select-lg mb-3 -->
					<!--<input	id="cnm" class="form-control" type="text" placeholder="—" required="required" ng-model="new_product.category">-->
					<!-- https://docs.angularjs.org/api/ng/directive/select -->
					<select	id="cnm" name="cnm"
							class="form-control form-select"
							required="required"
							ng-model="new_product.category">
						<option selected></option>
						<option ng-repeat="item in categories_list" value="{{item}}">{{item}}</option>
					</select>
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="msr" class="col-form-lable">measure:&nbsp;</label>
				</div>
				<div class="col-10">
					<!--<input	id="msr" class="form-control" type="text" placeholder="еденица измерения" required="required" ng-model="new_product.measure">-->
					<select	id="msr" name="msr"
							class="form-control form-select"
							required="required"
							ng-model="new_product.measure">
						<option selected></option>
						<option ng-repeat="item in measures_list" value="{{item}}">{{item}}</option>
					</select>
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="pnm" class="col-form-lable">title:&nbsp;</label>
				</div>
				<div class="col-10">
					<input	id="pnm"
							class="form-control"
							type="text"
							placeholder="—"
							required="required"
							ng-model="new_product.title">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="pct" class="col-form-lable">price:</label>
				</div>
				<div class="col-10">
					<input	id="pct"
							class="form-control"
							type="number"
							placeholder="—"
							required="required"
							ng-model="new_product.price">
				</div>
			</div>
			<p></p>
			<div class="row g-2">
				<div class="col-2">
					<label for="rest" class="col-form-lable">rest:</label>
				</div>
				<div class="col-10">
					<input	id="rest"
							class="form-control"
							type="number"
							placeholder="остаток на складе"
							required="required"
							ng-model="new_product.rest">
				</div>
			</div>

		</div>
		<p></p>
		<button type="submit" class="btn btn-primary">Применить</button>
		<!--&nbsp;
		<button type="reset" class="btn btn-secondary">Сброс</button>-->
		&nbsp;
		<button class="btn btn-secondary" ng-click="cancelProductEditing()">Отмена</button>
	</form>

</div>